@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-left:50px">
    <h1 class="display-4">Welcome</h1>
    <div>
        <input type="text" /><br />
        <input type="button" value="Save All" />
    </div>
    <br />
    <div class="col-lg-6" style="margin-left:250px">
        <input type="text" class="form-control" /><br />
        <input type="button" value="Save All" class="btn btn-success" />
    </div>
</div>
